AZ_PREFIX=slug
AZ_NAME=artery

AZDO_APIM_NAME=prefix-environment-name-apim
AZDO_APIM_RESOURCE_GROUP_NAME=prefix-environment-name-rg
AZDO_APIM_SUBSCRIPTION_ID=00000000-aaaa-bbbb-cccc-dddddddddddd

AZDO_APIM_PIPELINE_YAML_PATH=devops/azure-pipelines-api2apim.yml
AZDO_APIM_PIPELINE_NAME=api-to-apim
AZDO_AZURERM_SERVICE_CONNECTION_NAME=azurermApim

AZDO_GITHUB_URL=https://github.com/orgname/reponame
AZDO_GITHUB_ACCESS_TOKEN=d15152baaaaaad
