AZ_SUBSCRIPTION_ID=00000000-aaaa-bbbb-cccc-dddddddddddd
AZ_PREFIX=slug
AZ_NAME=artery

AZDO_PROJECT_NAME=artery
AZDO_ORG_URL=https://dev.azure.com/orgname

AZDO_PIPELINE_YAML_PATH=devops/azure-pipelines-infra.yml
AZDO_PIPELINE_NAME=infra
AZDO_AZURERM_SERVICE_CONNECTION_NAME=azurermInfra

AZDO_GITHUB_URL=https://github.com/orgname/reponame
AZDO_GITHUB_ACCESS_TOKEN=d15152baaaaaad
