AZDO_PIPELINE_YAML_PATH=devops/azure-pipelines-prod.yml
AZDO_PIPELINE_NAME=production
AZDO_BRANCH_NAME=main

AZDO_AZURERM_SERVICE_CONNECTION_NAME=azurermProd
AZDO_REGISTRY_SERVICE_CONNECTION_NAME=registryProd
AZDO_DOCKER_REPOSITORY_NAME=orgname/reponame

AZDO_GITHUB_URL=https://github.com/orgname/reponame
AZDO_GITHUB_ACCESS_TOKEN=d15152baaaaaad
