AZDO_PIPELINE_YAML_PATH=devops/azure-pipelines.yml
AZDO_PIPELINE_NAME=staging
AZDO_BRANCH_NAME=main

AZDO_AZURERM_SERVICE_CONNECTION_NAME=azurerm
AZDO_REGISTRY_SERVICE_CONNECTION_NAME=registry
AZDO_DOCKER_REPOSITORY_NAME=orgname/reponame

AZDO_GITHUB_URL=https://github.com/orgname/reponame
AZDO_GITHUB_ACCESS_TOKEN=d15152baaaaaad
